@font-face {
    font-family: 'cac_champagneregular';
    src: url('cac_champagne-webfont.eot');
    src: url('cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('cac_champagne-webfont.woff2') format('woff2'),
         url('cac_champagne-webfont.woff') format('woff'),
         url('cac_champagne-webfont.ttf') format('truetype'),
         url('cac_champagne-webfont.svg#cac_champagneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



html {
	
	background: #e5ecf3;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;	
	overflow: auto;
		
}


body {
	padding:0px;
	margin :auto;
	display:table; 
	width:100%;	
	color:black;
	font-family: Trebuchet MS,    Helvetica, Arial, sans-serif ;
	font-size: 15px;
	font-style: normal ;
	font-weight: normal ;
	text-transform: none;
	background-color:none;

	


	
}


#bg {
	margin:0 0 0 0px;
	padding:0 0 0 -20px;
	background:transparent ;
	background-image: url("../image/hat.jpg");
 	background-repeat:no-repeat;	
	background-position: center top ;
	
}


.element{
width: 100%;
 background-color: rgba (0,0,0,0.3);
 margin-top:20px;
 margin-right:100px;
 margin-left:10px;
 	

}

.infoBulle{
transform : scale(0) rotateX(-180deg);
position : absolute;
background-color : #2e3048;
color : white;
border-radius : 5px;
padding : 8px ;
margin-top : 10px;
box-shadow : 1px 1px 0 0.5px rgba(0,0,0,0.3);
border-bottom : 3px solid rgba(255,255,255,0.3);
 border-left:10px solid transparent;
 border-right: 10px solid transparent;
 transition: 1s;

}

.infoBulle::before{
	content:'';
	position:absolute;
	border-bottom:8px solid #2e3048;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	margin-top:-16px;
	margin-left:10px;	
	
}

.element:hover >.infoBulle{
	
	transform :scale(1) rotateX(0deg);
	margin-left:400px;	
	
}


p {
	font-family: Helvetica, Arial, sans-serif ;
	margin:0px 0px 0px 0px;
	font-size:15px;
	color:black;
	letter-spacing: normal ;
	line-height: 20px ;
}

h1 {

	 font-family: 'cac_champagneregular', Arial, serif;
	color:green;
	font-size:40px ;
	margin:0px 0 0px 0;
	clear:both;
	display:block;
}


h2 {
	display:block;
	 font-family: 'cac_champagneregular', Arial, serif;
	color:green;
	font-size:30px ;
	margin:0px 0 0px 0;
	clear:both;
	
}


h3 {
	 font-family: 'cac_champagneregular', Arial, serif;
	color:green;
	font-size:30px ;
	margin:0px 0 0px 0;
	clear:both;
	display:block;
	
}

h4 {
	 font-family: 'cac_champagneregular', Arial, serif;
	color:green;
	font-size:30px ;
	margin:0px 0 0px 0;
	clear:both;
	display:block;
	
}


h5 {
	 font-family: 'cac_champagneregular', Arial, serif;
	color:green;
	font-size:30px ;
	margin:0px 0 0px 20px;
	clear:both;
	display:block;
	
}


h6 {
	 font-family:  Arial, serif;
	color:green;
	font-size:10px ;
	margin:0px 0 0px 0;
	clear:both;
	
}


h7 {
	 font-family:  Arial, serif;
	color:green;
	font-size:20px ;
	margin:auto;
	clear:both;
	
	
}


h8 {
	 font-family:  Arial, serif;
	color:green;
	font-size:14px ;
	display:block;
	text-align:right;
	float:right;
	
}


h9 {
	 font-family:  Arial, serif;
	color:blue;
	font-size:14px ;
	display:inline;
	padding: 0 0 0 0 ;
	
	
}

mark {
  background-color: yellow;
  color: black;
}
h10 {
	 font-family:  Arial, serif;
	color:blue;
	font-size:14px ;
	display:block;
	padding: 0 0 0 50% ;
	
	text-align: left;
	
}

h11 {
	 font-family:  Arial, serif;
	color:blue;
	font-size:14px ;
	display:block;
	padding: 0 0 0 0px ;
	position:center-right;
	text-align: center-right;
	
}

a:link, a:visited {
	color:green ;
	text-decoration:none;
}
a:active /* Quand le visiteur clique sur le lien */

{

    background-color: #79e6f7;

}
a:hover {
	color:#29A294;
	text-decoration:underline;
}

img{
	border:none;
	float:right;
	text-align:right;
	
	
	
}

#wrapper {
	background: transparent url("../image/page-vbg.jpg") repeat-y scroll 50% 0px ;
	margin: 0x 0px 0px 0px  ;
	width:100%;
	

}

#welcom{
   text-align: left; 
  
    
}

  
#header {
	margin:auto;
	min-height:auto;
	
	width: 100%;
	height:35px;
	
}


#page {
	background: transparent url("../image/page-bg.jpg") no-repeat center top;  
	
}

#topTitle{
	height:400px;
	min-height:70px;
}

#container {
	margin: auto;
	width:1024px; 

	
}

#banner {
	margin: 0px ;
	height:400px;
	width:1020px;
	padding-right:0 0 0px;
	
}

#nav1 {
	padding-top: 0px;
	height:30px;
	margin:-30px 0 0 0px;
	width:100%;
	
    
	

}

#nav1 ul {
	display:table;
	width:auto;
	margin: auto;
	padding:0;
	list-style-type:none;
	position:relative;
	height:40px;
	text-transform:uppercase;
	font-size:11px;
	font-family:Arial,sans-serif;
	
}


#nav1 ul li {
	display:block;
	float:left;
	margin:0;
	padding:0;
	background:transparent url("../image/hmenu.jpg") repeat-x top left;
	border-left:1px solid #4e4e4e ;
	border-radius: 10px;

}


#nav1 ul li a {
	display:block;
	float:left;
	color:green;
	text-decoration:none;
	padding:0px 50px ;
	line-height:40px;
	font-weight:bold;
}

#nav1 ul li a:hover, #nav1 li#current a {
	color:lime;
	background:transparent url("images/hmenu-sel.jpg") repeat-x top left;
}
span {
	text-align:center;
    display: inline-block;
	margin:20px 0px 0px 20px;
}




#content {
	width:1024px;
	 margin: 0px ;
	text-align:left;
	min-height:400px;
	list-style:none;
	
}

#content p {
	text-align:justify;
	display:block;
	float:left;
	
	
}

#footerWrapper {
	margin: auto;
	height:80px;
	padding:0px;
	background:transparent url("../image/footerWrapper-bg.jpg") no-repeat scroll center top ;
	text-align:center;
}

#footer {
	margin:0 auto;
	padding:0;
	width:1024px;
	height:70px;
	color:#FFFFFF;
	text-align:center;
}

#footer a:link, #footer a:visited {
	color:#FFFFFF;
}

#footer a:hover{
	color:#ffb508;
	text-decoration:none;
}

#right {
	width:300px;
	padding:0px 0px 0px 0px;
	float:right;
    margin-top:50px;
}

#center {
	width:681px;	
	padding:0px;
	float:left;
	margin:0 15px 0 20%; 
}

#content p {
	margin-top:10px;
	text-align:justify;
}

#g-sidebar {
	padding: 0px;
	margin: 40px ;	
}

#g-sidebar * {
	margin: 0px;
}

#g-sidebar ul.vmenu {
	list-style: none;
	text-align: left;
	margin: 0px 0px 0px 0px; 
	padding: 0 ;
	text-decoration: none;	
	border-top: 1px solid #e5ecf3;	
}

#g-sidebar ul.vmenu li {
	list-style: none;
	padding: 4px 0 4px 0px;
	margin: 0 0px;	
	border-bottom: 1px solid #e5ecf3;
}

#g-sidebar ul.vmenu li a {
	text-decoration: none;
	color:#2887A2;
}

#g-sidebar ul.vmenu li a:hover {
	color:#79e6f7;
	
}

#g-sidebar ul.vmenu ul { margin: 0 0 0 5px; padding: 0; }
#g-sidebar ul.vmenu ul li { border: none; }

p.temoignage{
	font-style:italic;
}

ul#news{
	padding-left:0px;
	font-size:13px ;
}

ul#news h4{
	margin-left:0;
	
}


img{
	border:none;
	float:right;
	text-align:center;
	padding-left:10px;
}


nav {
	padding-top: -100px;
	height:40px;
	margin:0 0px;
	width:750px 	;
	text-align : right;
	float:right;

}


#photo{
	
	overflow: center;
    
}



#nav2 {
	padding-top: 0px;
	height:20px;
	margin:0 0px;
	width:900px 	;
	text-align : left;
	
	
}

